* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: white;

	font-family: 'Righteous', sans-serif;
	/* font-family: 'Passion One', cursive; */
	/* font-family: 'Oswald', sans-serif;   */
}